<div class="container">
  <p style="color: green"><%= notice %></p>
  <h1>Add new entity</h1>

  <%= render "form", entity: @entity %>

  <br>
  <br>

  <div>
    <%= link_to "Back", :back, class:"btn btn-secondary block" %>
  </div>
</div>