<div class="container">
  <h1 class='new-group-heading'>Add New Category</h1>

  <%= render "form", group: @category %>

  <br>

  <%= link_to "Back to Home", categories_path, :style=>'margin-left: 52vw;' %>
  
</div>
