<div class="container">
  <h1 class='new-group-heading'>Add New Category</h1>

  <%= render "form", group: @category %>

  <br>
  <br>
  <%= link_to "Back", categories_path, class: 'btn btn-secondary block' %>
  
</div>
