<div class="container">
	<h1 class="text-center">Wallet</h1>
	<%= image_tag("wallet.jpg", class: 'd-block mx-auto') %>
	<div class="login-btn">
		<%= link_to "Login", new_user_session_path, class: 'btn btn-primary my-4' %>
	</div>
	<div class="not-a-member">
		<%= 'Not a member yet?' %>
	</div>
	<div class="signup-btn">
		<%= link_to "Create new account", new_user_registration_path, class: 'btn btn-success my-2' %>
	</div>
</div>